/* @font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Medium.woff2') format('woff2'),
        url('HindMadurai-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Bold.woff2') format('woff2'),
        url('HindMadurai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Light.woff2') format('woff2'),
        url('HindMadurai-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka SemiCondensed';
    src: url('FredokaSemiCondensed-Regular.woff2') format('woff2'),
        url('FredokaSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka SemiExpanded';
    src: url('FredokaSemiExpanded-Regular.woff2') format('woff2'),
        url('FredokaSemiExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka';
    src: url('Fredoka-Regular.woff2') format('woff2'),
        url('Fredoka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka Expanded';
    src: url('FredokaExpanded-Regular.woff2') format('woff2'),
        url('FredokaExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-Regular.woff2') format('woff2'),
        url('HindMadurai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('HindMadurai-SemiBold.woff2') format('woff2'),
        url('HindMadurai-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
     
}
body{
  font-family:Roboto, sans-serif;


}

/* Header */
.site-header{
  align-items: center;
  background-color:rgba(242, 206, 218, 0.3) ; 

}
.header{
     display: flex;
/* margin-top: 10px; */
     justify-content: space-between;
     align-items: center;
}
.header-logo-link{
    width: 79px;
    height: 79px;
    flex-shrink: 0;


}
.header-navbar{
     display: flex;
     justify-content: space-between;
}

.header-list{
     display: flex;
     align-items: center;
  
   margin-right: 177px;
  
}

.header-navlink{
    margin-left: 40px;

  color: rgba(21, 1, 1, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

     &:hover{
        color: #D23166;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
     }
}
.button{
   padding: 14px 25px 13px 50px;
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  
    &:hover{
        color: rgba(210, 49, 102, 1);
        font-family: Hind Madurai;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 165px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #D23166;
        
        background: #FAFAFA;
    }
}
/* MAIN sections starts */
.hero-section{
    background-color:rgba(242, 206, 218, 0.3) ; 
}
.hero-content{
    display: flex;
  margin-bottom: 75px;

}
.hero-content-left{
    margin-top: 196px;
     
}
.hero-content-span{
    color: #0F0101;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.4px;

}
.hero-content-title{
    margin-top: 6px;
    width: 665px;
    height: 130px;
    flex-shrink: 0;
    color: #0F0101;
    font-family: Fredoka One;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%; /* 69.083px */
   
}
.hero-content-span2{
    opacity: 0.9;
    color: #D23166;
    font-family: Fredoka One;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}
.hero-content-text{
    width: 523px;
    height: 78px;
    flex-shrink: 0;
    color: rgba(15, 1, 1, 0.6);
    font-family: Hind Madurai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin-bottom: 50px;
    margin-top: 35px;
}
.hero-content-button{
   
    padding: 16px 50px;
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    width: 65px;
    height: 17px;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    &:hover{
        color: rgba(210, 49, 102, 1);
        font-family: Hind Madurai;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 165px;
        height: 49px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #D23166;
        
        background: #FAFAFA;
    }
}
/* .hero-content-left{

}
.hero-content-right{

} */
.hero-bg{
    background-image: url(../images/bg-image.png);
    width: 597px;
    height: 700px;
    flex-shrink: 0;
    flex-shrink: 0;
    background-position: -130px 0px;
    overflow: hidden;

}

/* lists section */
.service-content{
    height: 400px;
    background: #FFF;
}
.service-list{
    display: flex;
    align-items: center;
  
}
.service-item{
    width: 250px;
    height: 200px;
    flex-shrink: 0;

    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    
    background: #FFF;
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    justify-content: space-between;
   margin-left: 39px;
   margin-top: 100px;

    &:hover{
        border-radius: 7px;
        background: #FFF;
        box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
    }

}
.service-title{
   
    text-align: center;
    color: #000;
    font-family: Hind Madurai;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.service-image{
     margin: 33px 100px 24px 99px;
}
.service-text{
   margin: 9px 26px 27px 26px;
   width: 198px;
   height: 35px;
   flex-shrink: 0;
   color: #000;
   
   text-align: center;
   font-family: Hind Madurai;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   opacity: 0.6;
}
/* Section Brown */
.brown{

  
    height: 544.495px;
    flex-shrink: 0;
    background: #F8EDF0;

}
.brown__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brown__content-left{

    width: 442px;
    height: 256.705px;
    flex-shrink: 0;

}
.brown__title{
    margin-bottom: 16px;
    width: 349px;
    height: 98.27px;
    flex-shrink: 0;

    color: #150101;
    
    font-family: Hind Madurai;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.5%; /* 48.841px */
}
.brown__text{

    width: 442px;
    height: 58.16px;
    flex-shrink: 0;
  
    color: rgba(21, 1, 1, 0.6);
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}
.brown__link{
    margin-top: 35px;
    display: inline-block;
    padding: 15px 41px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D64374;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover{
        border-radius: 5px;
        border: 2px solid #D23166;
        background: #FAFAFA;
        flex-shrink: 0;
        color: #D23166;
        font-family: Hind Madurai;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
/* .brown__content-right{

   
  
   
 
  
   
} */
.brown__image{
    width: 585px;
    height: 586.804px;
    flex-shrink: 0;
    flex-shrink: 0;
   overflow: hidden;
 
}
/* Products sections */
.products__content{
    
    height: 2346px;
    flex-shrink: 0;
    background: #FFF;
}
.products__title{
    margin-bottom: 64px;
    margin-top: 132px;
    text-align: center;
    color: #150101;
    font-family: Hind Madurai;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.products__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.products__link{
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
     &:hover{
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        
     }
}
.products__content-flexer{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
}
.products__content-image{
    margin-right: 85px;
    width: 580px;
    height: 415px;
    flex-shrink: 0;
    border-radius: 10px;
}
.products__content-title{
    color: #000;
    font-family: Hind Madurai;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
}
.products__content-text{
    width: 454px;
    height: 67px;
    flex-shrink: 0;
    color: #000;
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
    margin-bottom: 28px;
}
.products__content-price{
    margin: 6px;
    width: 71px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    font-family: Hind Madurai;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
del{
    text-decoration-line: line-through;
    width: 58px;
height: 27px;
flex-shrink: 0;
color: #000;

font-family: Hind Madurai;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

opacity: 0.7;
}
.products__content-link{
    padding: 15px 50px;
    margin-top: 16px;
    width: 165px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D64374;
    color: #FAFAFA;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover{
        color: #D23166;
        font-family: Hind Madurai;
        font-size: 16px;
        font-style: normal;
       
        line-height: normal;
        width: 165px;
        height: 49px;
        flex-shrink: 0;
   
        border-radius: 5px;
        border: 2px solid #D23166;
        
        background: #FAFAFA;
        
        color:rgba(210, 49, 102, 1)
        
        
    }
}
.products__content-flexer2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.products__content-flexer3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 117px;
}

.products__content-flexer5{
    display: flex;
    align-items: center;
    justify-content: space-between;

     
}

.products__content-clientflex{
     display: flex;
     margin-bottom: 46px;
}
.products__content-clientreview{
    width: 322px;
    height: 53px;
    flex-shrink: 0;
    color: #000;
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
}
.products__content-clientflex2{
     display: flex;
     align-items: center;
     margin-top: 56px;

}
.client__name{
     margin-left: 12px;
}
.client__image2{
     margin-right: 26px;
     margin-left: 26px;
}
/* SEction Order */
.order__section{
    height: 640px;
    flex-shrink: 0;
    background: #F8EDF0;
}
.order__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.order__content-cart{
    margin-top: 21px;
    margin-bottom: 21px;
}
.order__content-title{
    width: 621px;
    color: #000;
    
    font-family: Roboto;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.order__content-image{
     margin-top: 36px;
}
.order__content-text{
    width: 607px;
    height: 60px;
    flex-shrink: 0;
    color: #0F0101;
    
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    opacity: 0.7;
}
/* . lect{
    width: 166px;
    color: #000;
    
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;} */
    .order__app{
        display: flex;
        align-items: center;
    }

    /* Contact section */
    .contact__section{

        height: 470px;
        flex-shrink: 0;
        background: #FFF;

    }
      .contact{
      margin: 100px 215px;
    
      }
      .titlemargin{
        margin: 0px 29px;
      }
        .contact__title{
            width: 522px;
            height: 123px;
            flex-shrink: 0;
        
            color: #000;
            
            text-align: center;
            font-family: Roboto;
            font-size: 44px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .contact__tel{
            margin-right: 30px;
            width: 303px;
            height: 74px;
            flex-shrink: 0;
            border-radius: 5px;
            border: 1px solid #FFA3A3;
            
            background: #FFF;
           
            color:rgba(15, 0, 0, 0.6);

            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         
        }
        .contact__qtype{
            width: 303px;
            height: 74px;
            flex-shrink: 0;
            border-radius: 5px;
            border: 1px solid #FFA3A3;
            
            background: #FFF;
            color:rgba(15, 0, 0, 0.6);


            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        
        }
        .contact__question{
            margin-top: 37px;
            margin-bottom: 110px;
            width: 637px;
            height: 74px;
            flex-shrink: 0;
            border-radius: 5px;
            border: 1px solid #FFA3A3;
            
            background: #FFF;
            color:rgba(15, 0, 0, 0.6);

            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        
        }
        .contact__button{
            width: 134px;
            height: 74px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #D64374;
            color: #FFF;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &:hover{
                flex-shrink: 0;
                color: #D23166;
                font-family: Hind Madurai;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 5px;
                border: 2px solid #D23166;
                
                background: #FAFAFA;
             }
        }
 /* Footer */
 .footer__flexer{

    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer__first-logo{
    margin-top: 70px;
 }
 .footer__first-text{
    margin-top: 9px;
    margin-bottom: 25px;
    width: 207px;
    height: 47px;
    flex-shrink: 0;
    color:rgba(255, 255, 255, 0.7);
    
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.687%; /* 16.762px */
    letter-spacing: 0.12px;
    
    
 }
 .footer__media-icons{
    margin-right: 10px;
    cursor: pointer;
 }
 .footer__small-text{
    margin-bottom: 8px;
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 .footer__linker{
    margin-bottom: 10px;
 }
 .footer__sec{
    height: 381px;
    flex-shrink: 0;
    background: #0A0808;
 }
 .footer__media{
    display: flex;
    align-items: center;
 }
 .footer__second{
    margin-top: 143px;
 }
 .footer__third{
    margin-top: 150px;
     
 }
 .footer__third-list{
     gap: 10px;
 }
 .footer-link{
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   color:  rgba(255, 255, 255, 0.8);

    &:hover{
        color: #FFF;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
 }
 .footer__four{
    margin-top: 136px;
 }
 .footer__four-st{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 .footer__form{
    margin-top: 13px;
    margin-bottom: 18px;
  
 }
 
 .footer__input-flex{
    display: flex;
    align-items: center;
 }
 
 .footer__email{
    width: 388px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #D64374;
   background-color:rgba(10, 8, 8, 1) ; 

 }
 .footer__subs{
    width: 125px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D23166;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
     &:hover{
        flex-shrink: 0;
        color: #D23166;
        font-family: Hind Madurai;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 5px;
        border: 2px solid #D23166;
        
        background: #FAFAFA;
     }
 }
 .footer__flex-cards{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 .footer__cards{
    margin-right: 15px;
     margin-left: 15px;
     cursor: pointer;
 }